:root {
    --background: lightgray;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.search-site {
    color: white;
}


/*Navbar*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: gray;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: white;
    transition: 0.4s;  
}

/**/
.boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes:last-of-type {
    margin-bottom: 4rem;
}

.boxes .box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    border: 2px solid black;
}

.boxes h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.boxes p {
    margin-bottom: 5px;
    font-size: 20px;
}

.boxes button{
    background-color: #91d962;
    width: 40px;
    height: 30px;
}

.boxes button a {
    color: black;
    text-decoration: none;
}
/**/
#search-styling form{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

#search-styling form input{
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 20px;

}

#search-styling form button {
    height: 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
}

/**/

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .warning {
    color: red;
    text-decoration: underline;

}

footer {
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    font-size: 20px;
    position: fixed;
}



footer a {
    color: black;
    margin: 1rem;
}

footer a:hover {
    color: white;
}

footer #maker {
    display: inline;
    text-decoration: underline;
}